@model Pokedex.Models.Pokemon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Pokemon</h1>

<h4>Inserir</h4>

<hr />


    <form asp-action="Create"class="row" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-4">
            <div class="mb-3">
                <p class="form-label mb-2 w-100">Imagem</p>
                <img id="Preview" src="~/img/semfoto.gif" class="img-fluid mb-2" />
                <input type="file" name="Arquivo" class="form-control" />
                
            </div>
        </div>
        <div class="col-md-8">
    
               <div class="form-group">
            <label asp-for="Numero" class="control-label"></label>
            <input asp-for="Numero" class="form-control" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RegiaoId" class="control-label"></label>
            <select asp-for="RegiaoId" class="form-select" asp-items="ViewBag.RegiaoId"></select>
        </div>
        <div class="form-group">
            <label asp-for="GeneroId" class="control-label"></label>
            <select asp-for="GeneroId" class="form-select" asp-items="ViewBag.GeneroId"></select>
        </div>
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Altura" class="control-label"></label>
            <input asp-for="Altura" class="form-control" />
            <span asp-validation-for="Altura" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Peso" class="control-label"></label>
            <input asp-for="Peso" class="form-control" />
            <span asp-validation-for="Peso" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Animacao" class="control-label"></label>
            <input asp-for="Animacao" class="form-control" />
            <span asp-validation-for="Animacao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>     
    </form>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        window.addEventListener('load', function () {
            document.querySelector ('input[type=fyle]')
            .addEventListener('change', function(){
                if (this.files && this.files[0]) {
                    var img = document.getElementById('Preview');
                    img.scr = URL.createObjectURL(this.files[0]);
                }
            })
        });
    </script>
}